<launch>
<node name="map_server" pkg="map_server" type="map_server" args="/home/stepan/Projects/ORCAStar/ORCAStar/examples/0_task.yml"/>
<node name="ROSMission" pkg="ORCAStar" type="ROSMission" output="screen">
<param name="agents_number" type="int" value="5"/>
<param name="task" type="string" value="/home/stepan/Projects/ORCAStar/ORCAStar/examples/0_task.xml"/>
<param name="threshhold" type="int" value="-1"/>
<param name="end" type="bool" value="True"/>
</node>
<node name="$(anon ROSSimActor_0)" pkg="ORCAStar" type="ROSSimActor"/>
<node name="$(anon ROSAgent_0)" pkg="ORCAStar" type="ROSAgent">
<param name="id" type="int" value="0"/>
</node>
<node name="$(anon ROSSimActor_1)" pkg="ORCAStar" type="ROSSimActor"/>
<node name="$(anon ROSAgent_1)" pkg="ORCAStar" type="ROSAgent">
<param name="id" type="int" value="1"/>
</node>
<node name="$(anon ROSSimActor_2)" pkg="ORCAStar" type="ROSSimActor"/>
<node name="$(anon ROSAgent_2)" pkg="ORCAStar" type="ROSAgent">
<param name="id" type="int" value="2"/>
</node>
<node name="$(anon ROSSimActor_3)" pkg="ORCAStar" type="ROSSimActor"/>
<node name="$(anon ROSAgent_3)" pkg="ORCAStar" type="ROSAgent">
<param name="id" type="int" value="3"/>
</node>
<node name="$(anon ROSSimActor_4)" pkg="ORCAStar" type="ROSSimActor"/>
<node name="$(anon ROSAgent_4)" pkg="ORCAStar" type="ROSAgent">
<param name="id" type="int" value="4"/>
</node>
<node name="rviz" pkg="rviz" type="rviz"/>
<node name="ROSVisualization" pkg="ORCAStar" type="ROSVisualization"/>
</launch>
